@import "tailwindcss";

@keyframes orbitGlow {
	0% {
		box-shadow: 15px 0 30px #753b93, -15px 0 30px #82347f;
	}
	12.5% {
		box-shadow: 10.6px 10.6px 30px #753b93, -10.6px -10.6px 30px #82347f;
	}
	25% {
		box-shadow: 0 15px 30px #753b93, 0 -15px 30px #82347f;
	}
	37.5% {
		box-shadow: -10.6px 10.6px 30px #753b93, 10.6px -10.6px 30px #82347f;
	}
	50% {
		box-shadow: -15px 0 30px #753b93, 15px 0 30px #82347f;
	}
	62.5% {
		box-shadow: -10.6px -10.6px 30px #753b93, 10.6px 10.6px 30px #82347f;
	}
	75% {
		box-shadow: 0 -15px 30px #753b93, 0 15px 30px #82347f;
	}
	87.5% {
		box-shadow: 10.6px -10.6px 30px #753b93, -10.6px 10.6px 30px #82347f;
	}
	100% {
		box-shadow: 15px 0 30px #753b93, -15px 0 30px #82347f;
	}
}

.shadow-neu {
	box-shadow: 15px 0 30px #753b93, -15px 0 30px #82347f;
	animation: orbitGlow 3s linear infinite;
}

.animate-glow {
	box-shadow: 0 0 10px #8d55c2, 0 0 30px #9333ea, 0 0 50px #9333ea;
}

.levitate {
	transform: translateY(-10px);
}

.custom-scroll::-webkit-scrollbar {
	width: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #a855f7;
	border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
	background: transparent;
}
